<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="style.css" />
        <script
            defer
            src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
            integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
            crossorigin="anonymous"
        ></script>
        <link
            href="https://fonts.googleapis.com/css?family=Roboto"
            rel="stylesheet"
        />
        <title>CV Mantas Sidabras</title>
    </head>
    <body>
        <div class="wrapper">
            <article class="main_content">
                {{{about}}} {{{experiences}}}
            </article>
            <aside class="personal_info">
                <div class="profile">
                    <img width="160" src="images/round-profile.png" alt="profile_picture" />
                    <h1>Mantas Sidabras</h1>
                    <h4>Senior Software Engineer</h4>
                </div>
                <div class="side_element contacts">
                    <div class="contact_piece">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:sid.mantas@gmail.com"
                            >sid.mantas@gmail.com</a
                        >
                    </div>
                    <div class="contact_piece">
                        <i class="fas fa-home"></i>
                        <a href="">Vilnius</a>
                    </div>
                    <div class="contact_piece">
                        <i class="fas fa-mobile-alt"></i>
                        <a href="tel:+37061148271">+37061148271</a>
                    </div>
                    <div class="contact_piece">
                        <i class="fab fa-linkedin-in"></i>
                        <a
                            href="https://www.linkedin.com/in/mantas-sidabras-37384a111/"
                            >Mantas Sidabras</a
                        >
                    </div>
                    <div class="contact_piece">
                        <i class="fab fa-github"></i>
                        <a href="https://github.com/MantasSidabras"
                            >Mantas Sidabras</a
                        >
                    </div>
                </div>

                <div class="side_element education">
                    <h4>Education</h4>
                    <div class="education_piece">
                        <h5 class="subject">Vilnius University</h5>
                        <h5> Bachelor of Software Engineering
                        </h5>
                        <h5 class="study_period">2015 - 2019</h5>
                    </div>
                </div>
                <div class="side_element languages">
                    <h4>Languages</h4>
                    <div class="language">
                        <h5>English</h5>
                        <h5>(Profesional)</h5>
                    </div>
                    <div class="language">
                        <h5>Lithuanian</h5>
                        <h5>(Native)</h5>
                    </div>
                </div>
                <div class="side_element interests">
                    <h4>Interests</h4>
                    <h5>3d printing</h5>
                    <h5>Recreational programming<h5>
                    <h5>Puzzle solving</h5>
                    <h5>Chess</h5>
                    <h5>Table tenis</h5>
                </div>
            </aside>
        </div>
    </body>
</html>
