<section class="content_entry">
    <div class="entry_name">
        <i class="fas fa-user fa-2x"></i>
        <h3>About me</h3>
    </div>
    <p>
        I am a passionate software developer aiming to deliver robust and
        flexible software. I love solving challenging problems, focussing on simple
        solutions first while keeping implementation as streamlined as possible. Furthermore,
        I enjoy reading technical literature, especially related to system
        design, creative computing, and functional programming.
        I'm also interested in exploring AI tools and automation to make
        development work more efficient. I thrive in team environments where different minds and
        ideas help to achieve a common goal, and I enjoy mentoring others in their
        software development journey.
    </p>
</section>
