<section class="content_entry">
    <div class="entry_name">
        <i class="fas fa-user fa-2x"></i>
        <h3>About me</h3>
    </div>
    <p>
        I am a passionate software developer aiming to deliver robust and
        flexible software. I love solving complex problems, focussing on simple
        solutions first and keeping complexity as low as possible. Furthermore,
        I love reading technical literature, especially related to system
        design, microfrontends and functional programming languages (Haskell,
        Gleam). I also thrive in team environments where different minds and
        ideas help to achieve a common goal. I take a pleasure in sharing my
        knowledge and helping others dive deep into the intricacies of
        programming. I have mentored several people, assisting them to start
        their careers in software development and establishing themselves in the
        job market.
    </p>
</section>
