<section class="content_entry">
	<div class="entry_name">
		<i class="fas fa-cogs fa-2x"></i>
		<h3>Skills</h3>
	</div>
	<h3>Tools and technologies</h3>
	<p>
		I am profficient in front-end development using
		<b>JavaScript/TypeScript</b>, <b>React.js</b> and
		<b>GraphQL</b> technologies.
	</p>
	<p>
		I an capable of building modern containerized backend services using <b>nodejs</b>, <b>sql databases</b> and <b>graphql APIs</b>.
	</p>
	<p>
		Also I have previous experience with <b>C#</b> and
		<b>Java</b> including basic Android app development.
	</b>
	<p>
		I am die hard <b>Linux</b> fan who is used to write
		<b>shell</b> and <b>python</b> scripts
		for monotonous tasks.
	</p>
	<h3>Other skills</h3>
	<p>
		I have deep understanding of <b>Computer networking</b>,
		<b>algorithms and data structures, SQL databases</b>
		<b>object oriented</b> and <b>functional programming</b>. In addition to that I know some
		of the <b>OOP design patterns</b>, <b>clean architecture</b>,
		<b>software testing</b> and <b>Agile/Scrum</b> methodology.
	</p>
</section>
